/* Color Variables */

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-dark: #121418;
  --color-grey: #2e384d;
  --color-light-grey: #424e67;
  --color-medium-grey: #ffffff1a;
  --color-purple: #5352ed;
  --color-light-purple: #7c7cec;
  --color-red: #e6004e;

  --color-body-background: var(--color-dark);
  --color-button-active: var(--color-purple);
  --color-button: var(--color-grey);
  --color-button-hover: var(--color-light-grey);
}
