@import "./styles/main.css";

body {
  background: var(--color-medium-dark-grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
  border: 1px solid black;
}
